extends base.pug

//- doctype html 
//- html 
//- 	head 
//- 		title contact form submission page
//- 	body
//- 		h1 Your Contact Form has been submitted successfully .

block scripts 
	script(src='/static/index.js')

block style 
	style 
		include ../static/style.css
		include ../static/stylenewForm.css

block content 
	.content
		h1 	Your contact-form has been submitted successfully .	
		
