extends base.pug

block scripts 
	script(src='/static/index.js')

block style 
	style 
		include ../static/style.css
		include ../static/styleservices.css

block content 
	div.container
		h1 Services
		div.card 
				h3 Bollywood
				div.card-box
					div.card-img    
						img(src="/static/image/dance1.jpg")    
						
					div.card-content 
						p Learn to move and groove on Bollywood songs from our talented and experienced choreographers.
		div.card 
				h3 Contemporary
				div.card-box
					div.card-img    
						img(src="/static/image/dance2.jpg")    
						
					div.card-content 
						p Connect to your mind and body through fluid dance movements from graceful contemporay dance.
		div.card 
				h3 Hip-Hop 
				div.card-box
					div.card-img    
						img(src="/static/image/dance3.jpg")    
						
					div.card-content 
						p Learn a wide street style dance forms such as locking, popping, breaking etc. from our choreographers.							
		div.card 
				h3 Salsa
				div.card-box
					div.card-img    
						img(src="/static/image/dance4.jpg")    
						
					div.card-content 
						p Build some chemistry and have fun by learning the art of Salsa under the guidance of our experts.		