.container {
    height: 850px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 251, 251);
}

.container h1 {
    font-family: "Satisfy", cursive;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 12px;
    font-size: 2.83rem;
}

.container p {
    text-align: center;
    padding: 12px;
    font-size: 23px;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(139, 10, 164);
    margin-bottom: 25px;
    margin-top: 20px;
}

.channel {
    justify-content: center;
    display: flex;
    width: 45%;
    margin-top: 5px;
    height: 220px;
}

.channel h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: rgb(239, 22, 22);
    margin-bottom: 6px;
    padding: 9px;
}

.channel-img {
    height: 30px;
    padding: 5px 5px;
    margin: 5px 9px;
}

.channel-img img {
    height: inherit;
}

.channel-content {
    padding: 0 10px;
}

.channel-content h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22.56px;
    margin: 10px;
    color: rgb(11, 50, 176);
}