extends base.pug

block scripts 
	script(src='/static/index.js')

block style 
	style 
		include ../static/style.css
		include ../static/styleclassinfo.css

block content 
	div.container
		h1 Class Info
		li  We aim to teach at least 45 minutes regardless but we do try to give you more(quite often very close to an hour), howevever this is not always possible to give a whole hour should setting up, taking payments or sorting loyality cards out take extra time - if possible pre-book online or arrive a little earlier so that it take less time from the class and we can get dancing.
		li  The doors open on the hour and it does not mean that you will be dancing straight way. If you have to pay on the day, then it will take time from our dancing, whilst I see to that. There are two ways that we can minimize it, one is to pay online before the class and the othe is to arrive a little earlier and I  can sort out your payment then.
			p Do not earlier than 15 minutes before, and if earlier, please wait outside or at the door.
		li  Class numbers at all venus are limited in number. Please contact me before arriving if possible to ensure that we have space for you. When booking online the booking allocates the spaces to a limited number. When people arrive at the venue without no booking prior, it means that the class may not run as well as you may not enjoy it as much, if you are all packed together like sardines! Contact me to confirm if possible, by either booking your place online, emailing or messaging me, or by telephone(telephone by at least an hour before the class).
			p Remember to bring a bottle of water or similar with you - keeping hydrated is important.
				
		li  Photographs may be taken and put up on this website or social media or used in printed form. Many times this will be taken from the back, but please let me know if you would like to be made unrecognisable.
			g Here's the link for >> #[a(href='/dresses') what should I wear to my line dance class?]
				
		