extends base.pug

block scripts 
	script(src='/static/index.js')

block style 
	style 
		include ../static/style.css
		include ../static/styledress.css

block content 
	div.container
		h1 Dance Dresses
		div.dress 
				h3 Bollywood Dance Dress
				div.dress-box
					div.dress-img   
						img(src="/static/image/bolly.jpg")
						img(src="/static/image/dncdr12.jpg")   
						img(src="/static/image/bolly2.jpg")
						img(src="/static/image/bollydr.jpg")

						
					
		div.dress 
				h3 Contemporary Dance Dress
				div.dress-box
					div.dress-img    
						img(src="/static/image/dncdr5.jpg")    
						img(src="/static/image/contemprdr.jpg")    
						img(src="/static/image/contemprdr2.jpg")    
						
					
		div.dress 
				h3 Hip-Hop Dance Dress
				div.dress-box
					div.dress-img    
						img(src="/static/image/dncdr8.jpg")    
						img(src="/static/image/dncdr7.jpg")    
						img(src="/static/image/hiphopdr.jpg")    
						
											
		div.dress 
				h3 Salsa Dance Dress
				div.dress-box
					div.dress-img    
						img(src="/static/image/dncdr6.jpg")    
						img(src="/static/image/dncdr10.jpg")    
						img(src="/static/image/dncdr1.jpg")    
						
					