.container {
    height: 620px;
    background-color: white;
    margin: auto;
    width: 75%;
    display: block;
}

.container h1 {
    font-family: "Satisfy", cursive;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 12px;
    font-size: 2.83rem;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 45%;
    margin: 10px 20px;
    height: 220px;
    background-color: rgb(252, 227, 254);
}

.card h3 {
    text-align: center;
    margin: 12px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    color: rgb(65, 6, 56);
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 117px;
    padding: 0 5px;
    margin: 5px 9px;
}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 0 10px;
}

.card-content p {
    font-size: 20px;
}